#p1{
    color:red;
}

.tag_azul:hover{
    background-color: darkcyan;
}

body{
    background-color: rgb(123, 180, 182);
}

#p2:visited{
    color:red;
}

.nome:hover{
    background-color: antiquewhite;
}

.info{
    color: orangered
}